# Created by .ignore support plugin (hsz.mobi)
### Maven template
.idea
*/target/
*/pom.xml.*
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn
*.log
*/*.log
/metastore_db/
/.ck/
*/*.iml